

.home-text{
    margin-top:180px;
    margin-left: 155px;
    color:white;

}
.container-home{
    background:url(../../resorces/Image/coxbazar.png);
    width:100%;
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat;
    position: relative;
    background-color:linear-gradient(#ffffffd9,#2a3463a6);
    z-index: 1;
    opacity:3;
    position: relative;
}
/* .white-img {
    filter:brightness(800%)!important;
    /* color: white; */
    





